# Unreal folders and files
/Binaries
/Build
/DerivedDataCache
/Intermediate
/Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log
*_BuiltData.uasset

# Mod intermediate folders
/Package